@model IEnumerable<eRoutingSlip.Models.LinkedListSignature>


<div class="container mt-3">
    @*<h2>Routing Slip Inbox</h2>
    <div class="h-50">
        
            <table class="table w-25">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RoutingSlipID)
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                <tr class="py-0 my-0">
                    <td>
                        @Html.DisplayFor(modelItem => item.RoutingSlipID)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.RoutingSlipID })
                    </td>
                </tr>
        }

            </table>
    </div>*@
</div>


@*@model IEnumerable<eRoutingSlip.Models.DivisionListViewModel>

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="container mt-3">*@
@*<h3>E-File Workspace</h3>*@
@*<table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Division</th>
                <th scope="col">Division Head</th>
                <th scope="col">Active Routing Slips</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td><h5>@item.DivisionName</h5></td>
                    <td>@item.DivisionHead</td>
                    <td>@item.RSCount</td>
                </tr>
            }
        </tbody>
    </table>*@


@*<script>


        function Add() {

            var node = document.createElement("INPUT");

            var c = document.getElementById("SendList").childElementCount;
            var oldNode = "input" + c;
            var nodeId = "input" + (c + 1);
            node.setAttribute("id", nodeId);
            node.setAttribute("type", "text");
            node.setAttribute("class", "inputfield");


            document.getElementById("SendInput").appendChild(node);
            var listnode = document.createElement("LI");

            var textnode;
            // add to list
            if (c < 1) {
                textnode = document.createTextNode($("#input0").val());
                document.getElementById("SendList").appendChild(listnode);

            }
            else {
                var nodecontent = document.getElementById(oldNode).value;
                textnode = document.createTextNode(nodecontent);

            }
            listnode.appendChild(textnode);
            document.getElementById("SendList").appendChild(listnode);

            return false;
        }



    </script>*@

