@model eRoutingSlip.Models.RoutingSlip
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{
    ViewBag.Title = "Create";
}


<div class="container mt-3">
    <h3>File a Routing Slip</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="row">
                <div class="col">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.DivisionID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DivisionID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DivisionID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DocumentName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.RequestingEmployee, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RequestingEmployee, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RequestingEmployee, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                    <div class="form-group d-none">
                        @Html.LabelFor(model => model.ForwardTo, htmlAttributes: new { @class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ForwardTo, new { htmlAttributes = new { @class = "form-control", @id="forwardTo" } })
                            @Html.ValidationMessageFor(model => model.ForwardTo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label>Send to: </label>
                    <div class="row">
                        <div class="col-7"><input type="text" class="form-control inputfield py-2" id="input0" /></div>
                        <div class="col-3"><input type="button" value="Add" class="btn btn-default py-2" onclick="SendList();" /></div>
                    </div>
                    <div class="row">
                        <div class="col-9" id="SendList">
                        </div>
                    </div>

                </div>


            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

<script>
 var usrName = "@HttpContext.Current.User.Identity.Name";

    $("#input0").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue","RoutingSlip")',
                dataType: "json",
                data: { search: $("#input0").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return{ label: item.Email, value: item.Email };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error")
                }
            });
        }
    });
    function SendList() {
        var e = $("#input0").val();
        var em;
        var f = $("#forwardTo").val();

        if (e == '') {
            alert('Enter e-mail');
        }
        else {
            if (f.includes(e)) {
                alert('This e-mail is currently in the list');
            }
            else if (e == usrName) {
                alert('Unable to add current user to list.');
            }
            else {
                em = e + ",";
                f = f + em;

                $("#forwardTo").val(f);
                var newDiv = document.createElement("p");
                newDiv.setAttribute("class", "mt-2");

                var emailInput;

                emailInput = document.createTextNode($("#input0").val());

                var removeEntry = document.createElement("BUTTON");

                removeEntry.setAttribute("class", "btn btn-default  ml-5 badge-danger badge-pill badge float-right");
                removeEntry.setAttribute("type", "button");
                removeEntry.setAttribute("id", em);
                removeEntry.setAttribute("onclick", "Rem(this.id);");
                var t = document.createTextNode("-");
                removeEntry.appendChild(t);

                newDiv.appendChild(emailInput); //textnode
                newDiv.appendChild(removeEntry);
                document.getElementById("SendList").appendChild(newDiv);
                document.getElementById("input0").value = '';
            }
        }
    }

    function Rem(a) {

        var x = document.getElementById(a);
        x.parentNode.remove();
        
        var f = $("#forwardTo").val();
        f = f.replace(a, "");
        $("#forwardTo").val(f);

    }
</script>
