@model eRoutingSlip.Models.RoutingSlip

@{
    ViewBag.Title = "Details";
}
<div class="container mt-3">
    <h3>Routing slip # @Html.DisplayFor(model => model.RoutingSlipID)</h3>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>Initiator</dt>

            <dd>@Html.DisplayFor(model => model.RequestingEmployee)</dd>

            <dt>Date Requested</dt>

            <dd>@Html.DisplayFor(model => model.DateSubmitted)</dd>

            <!-- Open document -->
            <dt class="btnRef btn btn-outline-secondary">@Html.ActionLink("Open the Document", "OpenDocument", "Details", new { @id = Model.RoutingSlipID}, null)</dt>

            <dt>Route List</dt>

            <dd>@Html.DisplayFor(model => model.ForwardTo)</dd>


        </dl>


    </div>
    <p>

        @Html.ActionLink("Edit", "Edit", new { id = Model.RoutingSlipID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>