@model IEnumerable<eRoutingSlip.Models.LinkedListSignatureNode>

@{
    ViewBag.Title = "SetPrevNext";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoutingSlipID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            Previous
        </th>
        <th>
            Next
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoutingSlipID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevSNode.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextSNode.ID)
            </td>
            <td>
                @if (item.PrevSNode == null)
                {
                    @Html.ActionLink("Add Name", "CreateNode", "LinkedListSignatureNode", new { id = item.ID }, null) }
                else
                {
                    @Html.ActionLink("Add Name | ", "CreateNode", "LinkedListSignatureNode", new { id = item.ID }, null)
                    @Html.ActionLink("Remove", "Delete", "LinkedListSignatureNode", new { id = item.ID}, null)
                }
            </td>
        </tr>
    }


</table>

